.site-header-logo
  span.site-header-logo-last-name='Dokshin'
  a.site-header-logo-link(href='index.html')
    +icon('logo-icon-green', 'site-header-logo-icon')
    +icon('logo-icon-pink', 'site-header-logo-icon')
    +icon('logo-icon-yellow', 'site-header-logo-icon')
  span.site-header-logo-name='Daniil'
