section.work
  +work-item([{
    iconName: 'logo-icon-green',
    title: 'Pink donut',
    eyeLink: 'http://pink-donut.kl.com.ua/',
    githubLink :'https://github.com/dokshin/pink-donut'
  },
  {
    iconName: 'logo-icon-pink',
    title: 'Visual studio',
    eyeLink: 'http://visual-studio.kl.com.ua/',
    githubLink :'https://github.com/dokshin/visual-studio'
  }

  ])
