block script
            // build:js js/vendor.js
            // bower:js
            // endbower
            // build:js js/main.js
            script(src='js/common/sprite.js')
            script(src='js/header/header-button.js')
