.console-message-welcom
    +console-message-welcom([{
        text : 'Добро пожаловать...'
    },
    {
        text : 'Сведения обо мне доступны по командам, которые Вы увидите ниже.'
    },
    {
        text : 'Для просмотра работ (в данный момент только верстка с исходным кодом) кликните на бабочку. Возвращение к консоли происходит тем же путем.'
    }
    
    ])
    
    include console-message-list