.console-message-work
  .console-message-data-page-layout
    h4.console-message-work-title='Верстка'
    +console-message-work-page-layout([{
      title : 'pink-donut',
      pageLink : 'http://pink-donut.kl.com.ua/',
      codeLink : 'https://github.com/dokshin/pink-donut'
    },
    {
      title : 'visual-studio',
      pageLink : 'http://visual-studio.kl.com.ua/',
      codeLink : 'https://github.com/dokshin/visual-studio'
    }

    ])
