.console-message-links
    +console-message-links([{
        name : 'folio-code',
        link : 'https://github.com/dokshin/portfolio',
        text : 'Исходный код портфолио'
    },
    {
        name : 'gulpfile',
        link : 'https://github.com/dokshin/portfolio/blob/master/gulpfile.js',
        text : 'Мой gulpfile'
    }
    
    ])