.console-message-data
    +console-message-data([{
        name : 'html',
        text : 'Применяю различные возможности HTML5, начиная от семантической верстки, вставки аудио и видео на веб-страницу, заканчивая канвасом. Примеры применения семантической верстки и многих других нововведений HTLM5 Вы можете увидеть в моих работах (примеры использования канваса появятся в скором времени).'
    },
    {
        name : 'pug',
        text : 'В качестве шаблонизатора и препроцессора для HTML использую PUG(бывший Jade), стараясь применять его возможности где это уместно. В каждой работе использован PUG. Все по принципу : "dry repeat yourself".'
    },
    {
        name : 'css',
        text : 'Адаптивность, блочная верстка, анимация на CSS3 и трансформация - не просто знакомые слова и понятия, а давно привычные вещи при создании очередного проекта. Каждый моя работа адаптивна, строится на блоках и практически каждая имеет динамику созданную с помощью CSS3, а так же других инструментов.'
    },
    {
        name : 'flexbox',
        text : 'Как отдельные свойства flexbox, так и различные сетки с его использованием (например: "flex-grid-framework") успешно применяю на практике. В исходном коде моих работ Вы можете это увидеть.'
    },
    {
        name : 'sass',
        text : 'В качестве препроцессора для CSS использую SASS (обычно SASS, но если будет необходимость, легко работаю и с SCSS синтаксисом). Include, Extend, var, mixin и другие возможности этого препроцессора вы увидете в моих работах.'
    },
    {
        name : 'smacss',
        text : 'SMACSS была выбрана в качестве методологии и я себя комфортно чувствую в ее рамках (возможно где-то и выходя за пределы методологии, если того требуют обстоятельства). Если требуется измененить методологию под нужды коллектива или использовать другую методологию, я только "за", при условии, что будут представлены обоснованные доводы в пользу этого. А пока, у вас есть возможность наблюдать подход SMACSSа в работах моего портфолио.'
    },
    {
        name : 'js',
        text : 'Уровень владения Java Script(его front-end частью) достаточный, чтобы сделать простое приложение на чистом JS или решить несложные задачи. Например, сделать консоль(примером является консоль в портфолио). ES-2015, ООП - в процессе освоения. В ноябре - декабре 2016 года появятся примеры использования на практике знаний, которые находятся в освоении.'
    },
    {
        name : 'jquery',
        text : 'Использую на практике Jquery там, где необходимо заменить "громоздкие" конструкции Java Script. Синтаксис библиотеки Jquery более чем знаком и его использование Вы можете посмотреть в моих работах.'
    },
    {
        name : 'gulp',
        text : 'В качестве сборщика проектов (компиляции SASS и многих других вещей) использую Gulp. Как пример моей работы с Gulp, есть ссылка на gulpfile. Для ее получения используйте команду gulpfile.'
    },
    {
        name : 'git',
        text : 'Каждый проект начинается с git init. Возможно не знаю многих тонкостей работы с git, но моих знаний о нем достаточно, чтобы чувствовать себя комфортно при командной работе.'
    },
    {
        name : 'english',
        text : 'Английским владею на уровне чтения профессиональной документации.'
    },
    {
        name : 'experience',
        text : 'Нет "прямого" опыта работы. Верстаю "для себя" уже год. Сверстал около 20 сайтов, сделал пару "недоприложений" на JS. Сейчас решил сделать портфолио и показать работы с наиболее качественным кодом. Нахожусь в поисках коллектива! Готов к командной работе, переезду и любому рабочему графику.'
    },
    {
        name : 'education',
        text : 'Обучался в Луганском университете им. Владимира Даля на факультете "IT", кафедры "автоматизации и компьютерно-интегрированных технологий". Ушел с ВУЗа на 2 курсе, так как нужных знаний не получал. Более того, учеба в университете забирала мое время, которое я мог бы потратить эффективней, занимаясь самообучением. На нем(самообучении) и сделал упор. Уделяю ему около 10-12 часов в сутки, развиваясь в front-end направлении.'
    },
    {
        name : 'age',
        text : 'Молод, бодр и свеж. 19 лет. 1997 год.'
    }
    ])